.color-item {
    position: relative;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: all 0.2s ease;
}

.color-item:hover {
    transform: scale(1.05);
    border-color: #000;
}

.color-item.selected {
    border: 2px solid black;
}

.color-item.selected::after {
    content: "";
    position: absolute;
    inset: 4px;
    border: 2px solid white;
    border-radius: 6px;
}